--
-- PostgreSQL database cluster dump
--

\restrict E66BQfD0cPMeiJwQ78I4QeJJcQJQdaqCs2flzae1MN56sNU05cYMb9spVCVHXon

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Roles
--

CREATE ROLE app;
ALTER ROLE app WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:8XOfwweh0XBY/L32aPzK2g==$GLjcZnVT7R2SHRZ8R6PNqmiF2Zi0V9mrXMzjX5WzIJk=:iehGAomkAGkeGjlYPyPJl+8mS91JMM4llclTbmvQQEI=';

--
-- User Configurations
--








\unrestrict E66BQfD0cPMeiJwQ78I4QeJJcQJQdaqCs2flzae1MN56sNU05cYMb9spVCVHXon

--
-- Databases
--

--
-- Database "template1" dump
--

\connect template1

--
-- PostgreSQL database dump
--

\restrict ip28RcJ5pVrnSYVp1scV13yr9WJE9OcrcQu3Bb1xNZu0TTduiddpxNXeErSG6I9

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict ip28RcJ5pVrnSYVp1scV13yr9WJE9OcrcQu3Bb1xNZu0TTduiddpxNXeErSG6I9

--
-- Database "appdb" dump
--

--
-- PostgreSQL database dump
--

\restrict O64hwIA5a2w8ivJrBizUt2sDxMLs1ngICkP0HUWuDTOydBdRjfuCslpbiIkXEuA

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: appdb; Type: DATABASE; Schema: -; Owner: app
--

CREATE DATABASE appdb WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE appdb OWNER TO app;

\unrestrict O64hwIA5a2w8ivJrBizUt2sDxMLs1ngICkP0HUWuDTOydBdRjfuCslpbiIkXEuA
\connect appdb
\restrict O64hwIA5a2w8ivJrBizUt2sDxMLs1ngICkP0HUWuDTOydBdRjfuCslpbiIkXEuA

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: notes; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.notes (
    id text NOT NULL,
    title text NOT NULL,
    content text NOT NULL
);


ALTER TABLE public.notes OWNER TO app;

--
-- Data for Name: notes; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.notes (id, title, content) FROM stdin;
\.


--
-- Name: notes notes_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.notes
    ADD CONSTRAINT notes_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict O64hwIA5a2w8ivJrBizUt2sDxMLs1ngICkP0HUWuDTOydBdRjfuCslpbiIkXEuA

--
-- Database "postgres" dump
--

\connect postgres

--
-- PostgreSQL database dump
--

\restrict bCUNwHqJre6sTrcKE6xtPmcCx08Lut6cu4196C7DzmRTVtO3W8Pt368QzK5pw41

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict bCUNwHqJre6sTrcKE6xtPmcCx08Lut6cu4196C7DzmRTVtO3W8Pt368QzK5pw41

--
-- PostgreSQL database cluster dump complete
--

