fastapi==0.115.0
uvicorn==0.30.3
pydantic==2.8.2
pytest==8.3.2
httpx==0.27.0
coverage==7.6.1
PyYAML==6.0.2
defusedxml==0.7.1
jinja2>=3.1
psycopg2-binary==2.9.9
psycopg[binary]==3.1.19
SQLAlchemy==2.0.32
jinja2
markdown
pydantic[email]
python-multipart